<launch>
<!--    <node pkg="eight_mrs_taskplan" type ="robot1_plan_server.py"  name="robot1_motion_server" output="screen" />-->
<!--    <node pkg="eight_mrs_taskplan" type ="robot2_plan_server.py"  name="robot2_motion_server" output="screen" />-->
    <node pkg="eight_mrs_taskplan" type ="robot3_plan_server.py"  name="robot2_motion_server" output="screen" />
    <node pkg="eight_mrs_taskplan" type ="robot7_plan_server.py"  name="robot6_motion_server" output="screen" />
    <node pkg="eight_mrs_taskplan" type ="mrs_plan_z2_r2_client1.py"  name="taskplanning1" output="screen" />
    <node pkg="eight_mrs_taskplan" type ="mrs_plan_z2_r2_client2.py"  name="taskplanning2" output="screen" />
</launch>

